# macOS junk
.DS_store

# Pyenv
.python-version

*.log
*.pyc
*.orig
__pycache__
/.cache
/.idea
/bitcash.egg-info
/build
/dist
/docs/build
/wheelhouse
venv/

# Unit tests
/.tox
htmlcov/
/.coverage
/.pytest_cache
