# List of development dependencies (documentation, tests...)
# Those ARE NOT required for installation, at runtime or to build from source

-e .[cli,cache]
pytest
pyright==1.1.408
coverage
black==25.1.0
twine
sphinx
